<div class="admin admin-cards">
  <ul>
    <li>
      <h2>#<%= controller_name.capitalize %></h2>
    </li>
    <li>
      <%= link_to(admin_root_path) do %>
        <%= image_tag('backward_arrow.png') %> Back
      <% end %>
    </li>
  </ul>
  <form id="search-cards-form" action="#" autocomplete="off">
    <input type="text" name="search" spellcheck="false">
  </form>
  <ul id="cards-list">
    <li id="dummy-card" class="card">
      <h2>#42</h2>
      <ul>
        <li><input type="text" spellcheck="false"></li>
        <div class="line"></div>
        <li><input type="text" spellcheck="false"></li>
        <div class="line"></div>
        <li><input type="text" spellcheck="false"></li>
        <div class="line"></div>
        <li><input type="text" spellcheck="false"></li>
        <div class="line"></div>
        <li><input type="text" spellcheck="false"></li>
        <div class="line"></div>
      </ul>
      <button disabled>save</button>
    </li>
  </ul>
</div>
