<div class="admin admin-cards">
  <ul>
    <li>
      <h2>#<%= controller_name.capitalize %></h2>
    </li>
    <li>
      <%= link_to(admin_root_path) do %>
        <%= image_tag(:backward_arrow) %> Back
      <% end %>
    </li>
  </ul>
</div>
