@import 'application';

.admin {
  padding: 16px 22px;
  a { font-size: 38px; }
  h2 { font-size: 32px; }
  label { font-size: 26px; }
  button { font-size: 38px; }

  img {
    height: 32px;
    width: 32px;
  }

  form {
    text-align: center;

    * {
      display: block;
      margin: auto;
    }

    input {
      border: 1px solid $line-color;
      border-radius: 8px;
      color: $background-color;
      font-size: 28px;
      height: 34px;
      margin: 6px auto 14px;
      padding: 0 6px;
      text-align: center;
      transition: background-color .8s;
      width: 375px;

      &.invalid { background-color: $failure-color; }

      &[title] {
        background-image: image-url(alert);
        background-position: left 6px center;
        background-repeat: no-repeat;
      }
    }
  }
}

.admin-words form {
  margin: 42px 0;
}

.admin-cards form {
  margin: 16px 0;

  input {
    background-image: image-url(search);
    background-position: right 6px center;
    background-repeat: no-repeat;
  }
}
